html,
body {
  overflow-x: hidden;
}
header {
  width: 100%;
  height: 75px;
  display: inline-block;
  background-color: burlywood;
  justify-content: center;
}
header > menu {
  float: right;
  display: flex;
  width: 75%;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  height: 100%;
}
body {
  width: 100vw;
  margin: 0px;
}
.menu-choose {
  display: inline;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
menu > a {
  text-decoration: none;
}
main {
  margin-left: 10%;
  margin-right: 10%;
}
section {
  border-top: 1px dotted black;
  margin-bottom: 25px;
}
section:nth-of-type(1) {
  border-top: 0px dotted black;
}
header > #logodiv {
  height: 100%;
  display: inline-block;
  width: 10%;
  align-items: center;
  justify-content: center;
}
#logo {
  height: 80%;
  padding-top: 5%;
  padding-left: 1em;
}
#baner {
  width: 100%;
  margin: 0px;
  height: auto;
  padding: 0%;
}

#baner > img {
  width: 100%;
  height: 100%;
}
footer {
  background-color: burlywood;
}
#onas div div {
  width: 45%;
  /* margin-left: 2.5%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#onas div div:nth-of-type(2){
  margin-left: 10%;
}
#onas div {
  display: flex;
}
#onasobrazek img {
  width: 100%;
}
.absolutnaKasia {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
}
.hidden {
  height: 100vh;
  overflow: hidden;
}
.napisAbsolutnejKasi {
  top: 0px;
  display: block !important; 
  position: absolute;
  justify-content: center;
  z-index: 1012340410324;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 5em;
  color: white;
  font-family: fantasy;
}