body {
  color: #4d3621;
}

body a:hover {
  color: rgb(100, 10, 20);
  transition: 1s;
}

a {
  color: #4d3621;
}

img {
  opacity: 0.8;
}

#img-o-nas {
  max-height: 450px;
}

nav a:hover {
  color: rgb(150, 80, 20); /* TODO: select proper colour */
  font-size: 110%;
  transition: 1s;
}

header,
#header-holder {
  height: 100px;
  opacity: 100;
  transition: 0.5s;
}

body {
  /* background-color: #bbac9b; */
}

section {
  visibility: hidden;
}

.increaseOnHover:hover {
  transform: scale(1.15);
  transition: transform 1s;
}

@-webkit-keyframes animat_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  visibility: visible !important;
  animation: animat_show 1s;
}

html {
  scroll-behavior: smooth;
}

.carousel-item img {
  max-height: 300px;
  margin: auto;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(50%);
}

#show-map {
  color: #4d3621;
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 3px;
  transition: 1s;
}

#show-map:hover {
  text-decoration: underline solid #4d3621 20%;
  transition: 1s;
}

.show-map {
  opacity: 100% !important;
}

.big-photo {
  max-width: 85vw !important;
  max-height: 85vh !important;
}

.social-media {
  font-size: 150%;
}

.hide {
  display: none;
}

.nav-item {
  font-size: 125%;
}