.container-1
{
    height: 70vh;
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flexitem
{
    background-color: lightblue;
    border: 1px solid black;
    flex-basis: 25%;
    padding: 5px;
}

.box-1
{
    height: 50px;
    align-self: flex-end;
}
.box-2
{
    height: 100px;
}
.box-3
{
    height: 300px;
}